/*
 * HomeJan01.css
 * 
 * Style-Sheets für meine Internetseiten
 * Josef W. Moosauer, updated 23.08.2020
 */
body.orand {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#FFFFFF;
}

body {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	background-color:#FFFFFF;
}
                   
/* margin-top = Abstand zwischen Fensterrand und Inhalt oben */
/* margin-bottom = Abstand zwischen Fensterrand und Inhalt unten */
/* 0px = 0 Pixel, Wert aenderbar */


p,h1,h2,h3,h4,ul,ol,div,li,td,th,address,blockquote,nobr,b,i
 {
	font-family:Arial,sans-serif;
}

h1 {
	font-size:18pt;
}

 
/* gilt nur fuer das Wort 'SELFHTML' auf der Einstiegsseite */
/* font-size = Schriftgroesse */
/* 18pt = 18 Punkt, Wert aenderbar */                             
h2 {
	font-size:16pt;
	color:#000080;
}

 
/* Seitenueberschriften */
/* font-size = Schriftgroesse */
/* 16pt = 16 Punkt, Wert aenderbar */
 
 
 
h2.sh2 {
	font-size:16pt;
}

 
/* Abschnittsueberschriften innerhalb einer Seite */
/* font-size = Schriftgroesse */
/* 16pt = 16 Punkt, Wert aenderbar */
 
 
 
h3,h3.xmp,h3.xpl,h3.inf,h3.tip {
	font-size:12pt;
}

 
/* Zwischenueberschriften wie 'Beispiel', 'Erlaeuterung' */
/* font-size = Schriftgroesse */
/* 11pt = 11 Punkt, Wert aenderbar */
                                                                  
h4 {
	font-size:10pt;
}

 
/* Zwischenueberschriften an manchen Stellen */
/* font-size = Schriftgroesse */
/* 10pt = 10 Punkt, Wert aenderbar */

/* normaler Text */
p,ul,ol,li,div,td,th,address,nobr,b,i {
	font-size:10pt;
}

/* font-family = Schriftart fuer Textelemente */
/* Arial,sans-serif = Arial und serifenlose Schrift, Wert aenderbar */



/* Links auf rotem Hintergrund */
  a.w:link {
	color:#ffcc33;
	text-decoration:none;
	font face:Helvetica;
}

  a.w:visited {
	color:#ff9933;
	text-decoration:none;
}

  a.w:active {
	color:#FFFFFF;
	text-decoration:none;
}
/* #ffcc33 = gelb, Wert aenderbar */
/* #ff9933 = orange, Wert aenderbar */
/* #ffffff = weiss, Wert aenderbar */


/* Links auf weissem Hintergrund */
 *  a:link {
	color:#446d8c;
	text-decoration:none;
}

 *  a:visited {
	color:#688aa3;
	text-decoration:none;
}

 *  a:active {
	color:#000000;
	text-decoration:none;
}

*/ 
/* a:link = Verweise zu noch nicht besuchten Seiten */
/* a:visited = Verweise zu bereits besuchten Seiten */
/* a:active = Verweise, die gerade angeklickt werden */
/* color = Farbe */
/* #446d8c = taubenblau, Wert aenderbar */
/* #688aa3 = hellblau, Wert aenderbar */
/* #000000 = schwarz, Wert aenderbar */
/* text-decoration = Tesxtstil */
/* underline = unterstrichen, Default-Wert, Wert aenderbar */
/* none = nicht unterstrichen, Wert aenderbar */                 
a.w,a {
	font-size:14pt;
	text-decoration:none;
	
}

                                                                             
/* Tabelle für horizontale Buttonleiste: */
table.schalt1 {
	background-color:#CC0000;
	border:solid 1px #000000;
	border-left:solid 1px #000000;
}

th.schalt1, table.schalt1 tr th 
	{
	background-color:#990000;
	color:#000000;
	font-size:10pt;
	font-family:Arial,sans-serif;
	border-right:solid 1px #bb5500;
	padding-left:2px;
	font-weight:bold;
	vertical-align:center;
}

td.schalt1, table.schalt1 tr td 
	{
	background-color:#ae0200;
	color:#000000;
	font-size:10pt;
	font-family:Arial,sans-serif;
	padding-left:3px;
	font-weight:bold;
	border-top:solid 1px #cd2d06;
	border-bottom:solid 1px #0a0400;
	border-right:solid 1px #0a0400;
	border-left:solid 1px #cd2d06;
	vertical-align:center;
}

td.schalt1-alt, table.schalt1 tr.alt td 
	{
	background-color:#990000;
	color:#000000;
	font-size:11pt;
	font-family:Arial,sans-serif;
	padding-left:3px;
	border-right:solid 0px #000000;
	vertical-align:center;
}


